In [3]:
import Bio
import pandas as pd
import numpy as np
import biopandas as bp

In [4]:
from biopandas.pdb import PandasPdb
ppdb = PandasPdb().fetch_pdb('1wch')

In [17]:
ppdb.df['ATOM'].head()

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,HIS,,A,2170,,...,11.618,-23.166,25.014,1.0,52.20,,,N,NaN,386
1,ATOM,2,,CA,,HIS,,A,2170,,...,12.862,-22.383,25.253,1.0,49.79,,,C,NaN,387
2,ATOM,3,,C,,HIS,,A,2170,,...,12.821,-21.561,26.541,1.0,47.09,,,C,NaN,388
3,ATOM,4,,O,,HIS,,A,2170,,...,11.783,-21.424,27.188,1.0,44.34,,,O,NaN,389
4,ATOM,5,,CB,,HIS,,A,2170,,...,13.143,-21.473,24.059,1.0,54.71,,,C,NaN,390

In [35]:
ppdb.df['ATOM'].head()

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,HIS,,A,2170,,...,11.618,-23.166,25.014,1.0,52.20,,,N,NaN,386
1,ATOM,2,,CA,,HIS,,A,2170,,...,12.862,-22.383,25.253,1.0,49.79,,,C,NaN,387
2,ATOM,3,,C,,HIS,,A,2170,,...,12.821,-21.561,26.541,1.0,47.09,,,C,NaN,388
3,ATOM,4,,O,,HIS,,A,2170,,...,11.783,-21.424,27.188,1.0,44.34,,,O,NaN,389
4,ATOM,5,,CB,,HIS,,A,2170,,...,13.143,-21.473,24.059,1.0,54.71,,,C,NaN,390

In [38]:
ppdb.df['ATOM'].residue_name.value_counts()

LEU    276
ARG    220
ILE    200
GLN    186
GLU    167
VAL    161
THR    139
ASP    136
LYS    135
TYR    120
PHE     99
PRO     98
SER     96
ASN     84
GLY     80
HIS     80
MET     76
TRP     56
ALA     55
CYS     42
Name: residue_name, dtype: int64

In [53]:
ppdb.df['ATOM'].element_symbol.value_counts()

C    1592
O     462
N     435
S      17
Name: element_symbol, dtype: int64

In [54]:
ppdb.df['ATOM'].atom_name.value_counts()

N      308
CA     308
C      308
O      308
CB     298
CG     193
CD      89
CD1     83
CG2     69
CD2     66
CG1     48
OE1     40
CZ      39
NE2     29
OD1     28
CE1     27
CE      25
CE2     23
OG1     21
NH2     20
NE      20
NH1     20
OE2     19
OG      18
OD2     17
NZ      15
ND2     11
SD      10
OH      10
ND1      8
SG       7
CH2      4
NE1      4
CE3      4
CZ3      4
CZ2      4
OXT      1
Name: atom_name, dtype: int64

In [40]:
ppdb.df['ATOM'].residue_number.value_counts()

2294    14
2177    14
2298    14
2323    14
2376    14
        ..
2273     4
2449     4
2261     4
2257     4
2349     4
Name: residue_number, Length: 308, dtype: int64

In [15]:
#ppdb2=PandasPdb.fetch_pdb('pdb2rgd.ent')

TypeError: fetch_pdb() missing 1 required positional argument: 'pdb_code'

In [67]:
ppdb.df['ATOM'][ppdb.df['ATOM']['atom_name'] == 'CA'][ppdb.df['ATOM']['b_factor']<=20]

C:\Users\shani\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
764,ATOM,765,,CA,,ALA,,A,2265,,...,-5.356,0.218,9.838,1.0,19.21,,,C,NaN,1150
769,ATOM,770,,CA,,SER,,A,2266,,...,-2.808,1.922,7.590,1.0,19.78,,,C,NaN,1155
874,ATOM,875,,CA,,TYR,,A,2279,,...,4.540,-1.117,9.662,1.0,19.36,,,C,NaN,1260
886,ATOM,887,,CA,,ILE,,A,2280,,...,0.803,-1.364,9.817,1.0,19.68,,,C,NaN,1272
894,ATOM,895,,CA,,ALA,,A,2281,,...,-0.369,1.236,12.332,1.0,18.38,,,C,NaN,1280
905,ATOM,906,,CA,,GLN,,A,2283,,...,-6.360,1.170,16.276,1.0,19.63,,,C,NaN,1291
984,ATOM,985,,CA,,TRP,,A,2294,,...,-6.404,-11.514,12.887,1.0,19.74,,,C,NaN,1370
1086,ATOM,1087,,CA,,ILE,,A,2305,,...,2.767,-7.175,17.027,1.0,18.03,,,C,NaN,1472
1094,ATOM,1095,,CA,,ALA,,A,2306,,...,3.861,-4.199,19.123,1.0,17.77,,,C,NaN,1480
1099,ATOM,1100,,CA,,MET,,A,2307,,...,0.932,-3.247,21.356,1.0,17.73,,,C,NaN,1485
1635,ATOM,1636,,CA,,ASN,,A,2372,,...,2.993,-5.482,24.834,1.0,19.72,,,C,NaN,2021
1765,ATOM,1766,,CA,,LEU,,A,2388,,...,11.147,1.139,25.932,1.0,19.44,,,C,NaN,2151
1788,ATOM,1789,,CA,,PHE,,A,2391,,...,11.549,-3.307,24.109,1.0,19.05,,,C,NaN,2174
1926,ATOM,1927,,CA,,HIS,,A,2407,,...,-1.043,-0.371,17.617,1.0,19.43,,,C,NaN,2312
1942,ATOM,1943,,CA,,SER,,A,2409,,...,-5.680,2.692,21.285,1.0,17.84,,,C,NaN,2328
1953,ATOM,1954,,CA,,GLY,,A,2411,,...,-3.110,3.882,16.530,1.0,19.74,,,C,NaN,2339
1957,ATOM,1958,,CA,,ILE,,A,2412,,...,-1.458,7.292,16.100,1.0,18.77,,,C,NaN,2343
1965,ATOM,1966,,CA,,GLY,,A,2413,,...,0.218,8.632,19.254,1.0,17.87,,,C,NaN,2351
1969,ATOM,1970,,CA,,ARG,,A,2414,,...,2.237,5.943,20.939,1.0,19.72,,,C,NaN,2355
1980,ATOM,1981,,CA,,SER,,A,2415,,...,2.584,3.955,17.718,1.0,18.71,,,C,NaN,2366
1988,ATOM,1989,,CA,,GLY,,A,2416,,...,3.858,6.993,15.836,1.0,16.38,,,C,NaN,2374
1992,ATOM,1993,,CA,,THR,,A,2417,,...,6.363,7.824,18.555,1.0,18.79,,,C,NaN,2378
1999,ATOM,2000,,CA,,LEU,,A,2418,,...,7.539,4.213,18.546,1.0,15.92,,,C,NaN,2385
2007,ATOM,2008,,CA,,ILE,,A,2419,,...,7.999,4.259,14.773,1.0,17.67,,,C,NaN,2393
2015,ATOM,2016,,CA,,CYS,,A,2420,,...,9.915,7.525,14.787,1.0,17.27,,,C,NaN,2401
2021,ATOM,2022,,CA,,ILE,,A,2421,,...,12.382,6.267,17.412,1.0,17.48,,,C,NaN,2407
2029,ATOM,2030,,CA,,ASP,,A,2422,,...,12.756,2.859,15.759,1.0,19.33,,,C,NaN,2415
2044,ATOM,2045,,CA,,VAL,,A,2424,,...,16.014,7.098,13.871,1.0,18.64,,,C,NaN,2430
2235,ATOM,2236,,CA,,ARG,,A,2447,,...,-1.744,7.788,8.506,1.0,19.39,,,C,NaN,2621
2308,ATOM,2309,,CA,,GLN,,A,2456,,...,5.657,12.774,22.524,1.0,19.85,,,C,NaN,2694
2317,ATOM,2318,,CA,,TYR,,A,2457,,...,7.379,14.673,19.740,1.0,17.95,,,C,NaN,2703
2329,ATOM,2330,,CA,,ILE,,A,2458,,...,9.910,16.165,22.211,1.0,18.91,,,C,NaN,2715
2348,ATOM,2349,,CA,,CYS,,A,2460,,...,11.591,11.475,20.259,1.0,19.62,,,C,NaN,2734
2354,ATOM,2355,,CA,,TYR,,A,2461,,...,14.379,14.055,20.533,1.0,19.65,,,C,NaN,2740
2380,ATOM,2381,,CA,,VAL,,A,2463,,...,15.384,9.625,23.882,1.0,19.70,,,C,NaN,2766
2387,ATOM,2388,,CA,,ILE,,A,2464,,...,17.677,9.841,20.872,1.0,19.41,,,C,NaN,2773

In [41]:
import math
ppdb.df['ATOM'][ppdb.df['ATOM']['atom_name'] == 'CA']['b_factor'<=10].count()

In [52]:

ppdb.df['ATOM'].distance=pd.Series(np.floor(math.sqrt(np.square(ppdb.df['ATOM'].x_coord)+np.square(ppdb.df['ATOM'].y_coord)+np.square(ppdb.df['ATOM'].z_coord)))).astype(float)

TypeError: cannot convert the series to <class 'float'>

In [49]:
ppdb.df['ATOM'].head()

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,HIS,,A,2170,,...,11.618,-23.166,25.014,1.0,52.20,,,N,NaN,386
1,ATOM,2,,CA,,HIS,,A,2170,,...,12.862,-22.383,25.253,1.0,49.79,,,C,NaN,387
2,ATOM,3,,C,,HIS,,A,2170,,...,12.821,-21.561,26.541,1.0,47.09,,,C,NaN,388
3,ATOM,4,,O,,HIS,,A,2170,,...,11.783,-21.424,27.188,1.0,44.34,,,O,NaN,389
4,ATOM,5,,CB,,HIS,,A,2170,,...,13.143,-21.473,24.059,1.0,54.71,,,C,NaN,390